<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>Forage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-full">
    <% if flash.any? %>
      <div class="container max-w-lg pt-4 px-4 mx-auto">
        <% flash.each_with_index do |(type, message), index| %>
          <%= render partial: 'shared/alert', locals: { type: type, message: message, index: index } %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
